.margin-05{
    margin:0.5rem;
}
.margin-05-2{
    margin:0.5rem 2rem;
}
.margin-1{
    margin:1rem;
}
.padding-05{
    padding:0.5rem;
}
.padding-05-2{
    padding:0.5rem 2rem;
}
.padding-1{
    padding:1rem;
}
